<a href="https://colab.research.google.com/github/ScriptMigo/Google-Colab-Files/blob/master/basiciinput.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import files
uploaded = files.upload()

Saving JC-201609-citibike-tripdata.csv to JC-201609-citibike-tripdata.csv

In [0]:
import pandas as pd
import io

In [0]:
print (uploaded['JC-201609-citibike-tripdata.csv'][:200].decode('utf-8') + '...')

Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID...

In [0]:
df = pd.read_csv(io.StringIO(uploaded['JC-201609-citibike-tripdata.csv'].decode('utf-8')))
df

       Trip Duration           Start Time  ... Birth Year  Gender
0                254  2016-09-01 00:06:09  ...     1989.0       2
1                119  2016-09-01 00:08:04  ...     1988.0       1
2                425  2016-09-01 00:14:14  ...     1961.0       1
3                304  2016-09-01 00:15:15  ...     1967.0       1
4               1775  2016-09-01 00:16:37  ...     1984.0       1
...              ...                  ...  ...        ...     ...
33420            463  2016-09-30 23:23:17  ...     1978.0       2
33421            207  2016-09-30 23:26:20  ...     1980.0       1
33422            204  2016-09-30 23:40:56  ...     1986.0       1
33423            218  2016-09-30 23:51:17  ...     1978.0       2
33424            232  2016-09-30 23:51:21  ...     1990.0       1

[33425 rows x 15 columns]